@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1>Список таблиц в базе данных:</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="Car" asp-action="Index">Машины</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Owner" asp-action="Index">Владельцы</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Parking" asp-action="Index">Парковка</a>
</div>
